<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>


<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Dionnet Bhatti
              </h1>
              <p> I am a PhD student in Harvard University’s Program in Neuroscience. Broadly, I am interested in how neural systems evaluate our experiences, adapt, and direct behaviors necessary for survival. In <a href="https://www.toddanthonylab.org/research">Dr. Todd Anthony's</a> laboratory at Harvard Medical School/Boston Children's Hospital, I use optical tools for monitoring and manipulating neural activity to investigate how experience and perception shape neural dynamics and concomitant defensive behaviors. 
		 <p>     
Prior to starting my graduate training, I worked in the labs of Drs. Philip V. Holmes, Michael Bruchas, and Paul Greengard. In these labs, I used behavioral pharmacology, optogenetics, and mouse genetics to investigate the cellular, molecular, and neuromodulatory mechanisms underlying threat reactivity, feeding, and behavioral stress responses.
     <p>    
        My research aims to understand the neural circuit, cellular, and molecular mechanisms that allow us to perform motivated behaviors such as seeking pleasure or avoiding pain and how previous experiences regulate behavior both adaptively and maladaptively.
          
              </p>

          </p>
              <p style="text-align:center">
                <a href="https://scholar.google.com/citations?user=dKKYPGwAAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://static1.squarespace.com/static/5c58c21c4d546e20ab8dadf8/t/5f713a87239c8d79eea7a33b/1601256072975/CV+-+Dionnet+Bhatti.pdf"> CV </a> &nbsp;/&nbsp;  
                <a href="https://twitter.com/VictoryOfFlight"> Twitter </a> &nbsp;/&nbsp;
                <a href="https://neurotree.org/beta/tree.php?pid=103488"> NeuroTree </a> &nbsp;
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/SeulAhKim.jpeg">
            </td>
          </tr>

	</table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research: Post-bac</h2>
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">	
	
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/co-packagingGluGABA2.png' width="180"></div>
            </td>
        
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="link"><h3>title </h3></a>
              <br>
              <br>first*, <h3>on</h3>, on
               <br><em>journal</em>, <em><a href="link"><h3>pdf</h3></a></em>
              <br><br> 
            </td>
          </tr>
          
	
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research: Undergrad</h2>
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">	
	
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='picture' width="180"></div>
            </td>
        

            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="link"><h3>title</h3></a>
              <br>
              <br>first*, <h3>on</h3>, on
               <br><em>Journal</em>, year
              <br><br> title.
            </td>
          </tr>

          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='picture' width="180"></div>
            </td>
        

            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="link"><h3>title</h3></a>
              <br>
              <br>first*, <h3>on</h3>, on
               <br><em>Journal</em>, year
              <br><br> title.
            </td>
          </tr>
         
        </table>
        <br>
        <br>
        <br>
        	

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;color: rgb(220, 220, 220);">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
