<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Helvetica:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>


<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Dionnet Bhatti
              </h1>
              <p align="justify"> I am a PhD student in Harvard University’s Program in Neuroscience. Broadly, I am interested in how neural systems evaluate our experiences, adapt, and direct behaviors necessary for survival. In <a href="https://www.toddanthonylab.org/research">Dr. Todd Anthony's</a> laboratory at Harvard Medical School/Boston Children's Hospital, I use optical tools for monitoring and manipulating neural activity to investigate how experience and perception shape neural dynamics and concomitant defensive behaviors. 
		 <p align="justify">     
Prior to starting my graduate training, I worked in the labs of Drs. <a href="https://www.psychology.uga.edu/directory/people/philip-v-holmes">Philip V. Holmes</a>, <a href="http://www.bruchaslab.org/">Michael Bruchas</a>, and <a href="https://lab.rockefeller.edu/greengard/">Paul Greengard</a>. In these labs, I used behavioral, pharmacological, optogenetic, and molecular-genetic approaches to investigate the cellular, molecular, and neuromodulatory mechanisms underlying threat reactivity, feeding, and behavioral stress responses.
     <p>    
          
              </p>

          </p>
              <p style="text-align:center">
                <a href="https://scholar.google.com/citations?user=dKKYPGwAAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://dionnet-bhatti.github.io/pdfs/CV - Dionnet Bhatti.pdf"> CV </a> &nbsp;/&nbsp;  
                <a href="https://twitter.com/VictoryOfFlight"> Twitter </a> &nbsp;/&nbsp;
                <a href="https://neurotree.org/beta/tree.php?pid=103488"> NeuroTree </a> &nbsp;
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/IMG_1880_cropped2.jpg">
            </td>
          </tr>

	</table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Selected Publications</h2>
		    <p>for a full list, please visit my <a href="https://scholar.google.com/citations?user=dKKYPGwAAAAJ&hl=en">Google Scholar</a> or <a href="https://dionnet-bhatti.github.io/pdfs/CV - Dionnet Bhatti.pdf"> Curriculum Vita </a></p>
            </td>
          </tr>
        </table>
        
                <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">	
	
	 <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/bnst-pbn_graphical abstract.png' width="180"></div>
            </td>
        
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://advances.sciencemag.org/content/7/9/eabd3666.abstract"><h3>Extended amygdala-parabrachial circuits alter threat assessment and regulate feeding</h3></a>
              <br>
              <br> Andrew T. Luskin*, <h3>Dionnet L. Bhatti*</h3>,Bernard Mulvey, Christian E. Pedersen, Kasey S. Girven, Hannah Oden-Brunson, Kate Kimbell, Taylor Blackburn, Abbie Sawyer, Robert W. Gereau IV, Joseph D. Dougherty, Michael R. Bruchas. <h3> *co-first authorship</h3> 

              <br><em>Science Advances</em>, 2021, <em><a href="https://dionnet-bhatti.github.io/pdfs/luskin_bhatti_scienceadvances_2021.pdf"><h3>pdf</h3></a></em>
              <br><br> Description.
            </td>
          </tr>
          
	 <tr>
             <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/jin_2020_AhnakFig.png' width="180"></div>
            </td>
        
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://www.nature.com/articles/s41380-019-0371-y"><h3>Ahnak scaffolds p11/Anxa2 complex and L-type voltage-gated calcium channel and modulates depressive behavior</h3></a>
              <br>
              <br> Junghee Jin, <h3>Dionnet L. Bhatti</h3>, Ko-Woon Lee, Lucian Medrihan, Jia Cheng, Jing Wei, Ping Zhong, Zhen Yan, Cassandra Kooiker, Claire Song, Jung-Hyuck Ahn, Gerald J. Obermair, Amy Lee, Jodi Gresack, Paul Greengard & Yong Kim 
              <br><em>Molecular Psychiatry</em>, 2020, <em><a href="https://dionnet-bhatti.github.io/pdfs/jin_molpsyc_2020.pdf"><h3>pdf</h3></a></em>
              <br><br> Description.
            </td>
          </tr>
        
	 <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/li_pnas_2018.png' width="180"></div>
            </td>
        
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://www.pnas.org/content/115/7/E1374.short"><h3>Wireless optoelectronic photometers for monitoring neuronal dynamics in the deep brain</h3></a>
              <br>
              <br> Luyao Lu*, Philipp Gutruf*, Li Xia*, <h3>Dionnet L. Bhatti*</h3>, Xinying Wang, Abraham Vazquez-Guardado, Xin Ning, Xinru Shen, Tian Sang, Rongxue Ma, Grace Pakeltis, Gabriel Sobczak, Hao Zhang, Dong-oh Seo, Mantian Xue, Lan Yin, Debashis Chanda,  Xing Sheng, Michael R. Bruchas, and John A. Rogers. <h3> *co-first authorship</h3>
              <br><em>Proceedings of the National Academy of Sciences</em>, 2018, <em><a href="https://dionnet-bhatti.github.io/pdfs/li_gutruf_xia_bhatti_pnas_2018.pdf"><h3>pdf</h3></a></em>
              <br><br> Description.
            </td>
          </tr>
         
        </table>
        <br>
        <br>
        <br>
        	

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;color: rgb(220, 220, 220);">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
