<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>


<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle;">
              <h1>
                Dionnet L Bhatti Mazo
              </h1>
		<br>
		
              <p align="justify"> I am a PhD student in Harvard University’s Program in Neuroscience. Broadly, I am interested in the neural mechanisms underlying motivational states - specifically the cellular and molecular processes that induce, maintain, and terminate adaptive behavioral and physiological responses to sensory stimuli. Currently, in the lab of Dr. Gord Fishell, I study how threat-related information is represented and structured in lateral septal cells and circuits, and how molecular and functional organization therein gives rise to adaptive defensive behavior.
		 <p align="justify">     
Prior to starting my graduate training, I worked in the labs of Drs. <a href="https://www.psychology.uga.edu/directory/people/philip-v-holmes">Philip V. Holmes</a>, <a href="http://www.bruchaslab.org/">Michael Bruchas</a>, and <a href="https://lab.rockefeller.edu/greengard/">Paul Greengard</a>. In these labs, I used an array of behavioral, pharmacological, optogenetic, and molecular approaches to examine the neurobiological mechanisms underlying threat responsivity, feeding, and behavioral stress.
	 <p align="justify">   
Outside of the lab, I enjoy climbing, exploring mountains, biking, playing/writing music, and thinking about the philosophy of emotions and how to study it in the laboratory.
						 
     <p>    
        <p>  

		</p>
		</p>

		<br>
		
              <p style="text-align:center">
                <a href="https://scholar.google.com/citations?user=dKKYPGwAAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://dionnet-bhatti.github.io/pdfs/cv_dionnet_bhattimazo_2024.pdf"> CV </a> &nbsp;/&nbsp;  
                <a href="https://twitter.com/VictoryOfFlight"> Twitter </a> &nbsp;/&nbsp;
                <a href="https://neurotree.org/beta/tree.php?pid=103488"> NeuroTree </a> &nbsp;
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/IMG_1880_cropped2.jpg">
            </td>
          </tr>


        	

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;color: rgb(220, 220, 220);">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
